@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0
}


/*顶部*/
#hr {
	width: 100%;
	height: 90px;
	position: fixed;
	z-index: 9999;
	background: white;
}
#hr .hr-top {
	width: 1100px;
	height: 90px;
	margin:0 auto;
	position: relative;
	top: 0px;
}
#hr .hr-top .t-logo {
	padding-top: 10px;
	float:left;
}
#hr .hr-top .t-input {
	position: absolute;
	left: 215px;
	top: 14px;
	width: 361px;
	height: 36px;
	border: 1px solid #C0C;
	border-radious: 3px;
	float:left;
	left:215px;
	top:20px;
	padding-left:1%;
	
}
#hr .hr-top .t-input .text {
	outline: none;
	border: none;
	width: 311px;
	line-height: 36px;
	float: left;
}
#hr .hr-top .t-input .btn {
	background-image: url(../images/sousuo.png);
	background-repeat: no-repeat;
	width: 46px;
	height: 36px;
	cursor: pointer;
	display: block;
	float: right;
	outline: none;
	margin-top: 4px;
	margin-right: -6px;
}
#hr .hr-top span {
	position: absolute;
	float: left;
	display: block;
	right: 355px;
	top: 26px;
}
#hr .hr-top span a {
	text-decoration: none;
	font-size: 14px;
	font-family: "微软雅黑";
	color: black;
}
#hr .hr-top span a:hover {
	color: #8f42f7;
	cursor: pointer;
}
#hr .hr-top .hr-tr {
	width: 260px;
	height: 90px;
	position: absolute;
	right: 0px;
	top: 0px;
}
#hr .hr-top .hr-tr .gouwudai {
	position: relative;
	top: 10px;
	right: 13px;
	cursor: pointer;
	background: white;
	width:174px;
	height:47px;
	float:right;
	
}
#hr .hr-top .hr-tr .gouwudai a{width:47px;height:55px; display:block;}
#hr .hr-top .hr-tr .gouwudai em {
	position: absolute;
	top: 10px;
	right: 10px;
}
#hr .hr-top .hr-tr .gouwudai strong {
	position: absolute;
	top: 28px;
	right: -6px;
}
#hr .hr-top .hr-tr .gouwudai .warn {
	background: white;
	width: 215px;
	height: 114px;
	display:block;
	
	display: none;
	position:absolute;
}
#hr .hr-top .hr-tr .gouwudai .gou-1 {
	position: absolute;
	top: 7px;
	width: 215px;
	height: 31px;
	left:0px;
	display: none;
	border-bottom:1px solid gray;
	text-align: center;
	line-height: 31px;
	display:block;
	
	
}
#hr .hr-top .hr-tr .gouwudai .gou-2 {
	position: absolute;
	top: 20px;
	width: 260px;
	
}
#hr .hr-top .hr-tr .gouwudai .gou-2 span {
	position: absolute;
	
	width: 215px;
	display:block;
	left:5px;
	
	
	
}
#hr .hr-top .hr-tr .gouwudai .gou-3 {
	position: absolute;
	top:74px;
	width: 215px;
	background: #8f42f7;
	height:40px;
	
}
#hr .hr-top .hr-tr .gouwudai .gou-3 a {
	text-decoration: none;
	line-height:40px;
	height: 40px;
	color: white;
	text-align: center;
	white-space:nowrap;
	padding-left:78px;
	
	
}
#hr .hr-top .hr-tr .gouwudai:hover .gou-1 {
	display: block;
}
#hr .hr-top .hr-tr .gouwudai:hover .warn {
	display: block;
}
#hr .hr-top .hr-tr .gouwudai:hover .gou-2 {
	display: block;
}
#hr .hr-top .hr-tr .gouwudai:hover .gou-3 {
	display: block;
}
#hr .hr-top .hr-tr .land {
	position: absolute;
	left: 0px;
	width: 45px;
	height: 18px;
	top: 25px;
	
}
#hr .hr-top .hr-tr .land a {
	padding-left: 0px;
	text-decoration: none;
	color: black;
    font-size:14px;
	font-family:"微软雅黑";
}
#hr .hr-top .hr-tr .rest {
	position: absolute;
	left: 36px;
	width: 41px;
	height: 18px;
	top: 25px;
}
#hr .hr-top .hr-tr .rest a {
	text-decoration: none;
	color: black;
	font-size:14px;
	font-family:"微软雅黑";
	margin-left:3px;
}


/*导航栏*/
/*导航栏*/
#top-nav {
	width: 100%;
	height: 30px;
	padding-top: 89px;
	background: #9933ff;
	position: relative;
	z-index:1001;
	
}
.top-nav {
	width: 1100px;
	height: 31px;
	margin:0 auto;
	
}
.top-nav .nav-l {
	width: 230px;
	height: 460px;
	list-style: none;
	float: left;
	z-index: 888;
}
.nav_all {
  width: 230px;
  height: 30px;
  float: left;
  text-align: center;
  display:block;
}

.nav_all .nav_all_x1 {
  display: block;
  width: 152px;
  height: 30px;
  padding-left: 78px;
  text-align: left;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  font-family: "microsoft yahei";
}

.nav_all .nav_all_x1.hover,
.nav_all .nav_all_x1:hover {
  background: rgba(255, 255, 255, 0.5);
}
.nav_all:hover #navlist {
  display: block;
}
.nav_all .nav_all_x1 span {
  width: 12px;
  height: 10px;
  background-image: url(../images/xiagou.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: block;
  margin-top: 10px;
  float: right;
  margin-right: 68px;
}

#navlist {
	width: 230px;
	height: 455px;
	background: #FFF;
	border:1px solid red;
	position: absolute;
	display:none;
	border: 1px solid #cccccc;
	z-index:999;
}


 #navlist li {
	list-style: none;
	height: 65px;
	border: 1px solid #cccccc;
	cursor: pointer;
	margin-top: -1px;
	border-bottom: none;
	
}
#navlist li a {
	display: block;
	text-decoration: none;
	height: 43px;
	padding-top: 22px;
	color: black;
	font-family:"微软雅黑";
	font-size:14px;
	text-align:left;
}
#navlist li:hover a {
	color: #9933ff;
}
#navlist li em {
	width: 28px;
	height: 30px;
	margin: -6px 35px 0 34px;
	display: block;
	float: left;
}
#navlist li a s {
	width: 11px;
	height: 16px;
	float: right;
	margin-top: 3px;
	display: block;
	padding-right: 18px;
}
/*二级菜单*/
.t-level {
	width: 870px;
	height: 456px;
	position: absolute;
	left: 230px;
	top: 0px;
	display: none;
	background: #FFF;
}
.t-level .t-level_l {
	width: 400px;
	height: auto;
	float: left;
}
.t-level .t-level_l dl {
	display: block;
	width: 114px;
}
.t-level .t-level_l dl dt {
	width: 114px;
	display: block;
	float: left;
	color: #8f42f7;
	font-size: 14px;
	text-align: left;
	margin-top: 0px;
}
.t-level .t-level_l dl dt a {
	display: block;
	height: 6px;
	margin-left: 15px;
	white-space: nowrap;
	color: #9933ff;
}
.t-level .t-level_r {
470px;
	height: auto;
	float: right;
}
.t-level .t-level_r a {
	margin-bottom: 133px;
	margin-right: 33px;
}
#navlist li:hover .t-level {
	display: block;
}
/*导航右侧*/
.top-nav .nav-r {
	float: left;	
}
.top-nav .nav-r li {
	float: left;
	list-style: none;
	width: 173px;
	position: relative;
	text-align:center;
	
}
.top-nav .nav-r li a {
	text-decoration: none;
	font-style: normal;
	line-height: 31px;
	color: white;
	font-size:16px;
	font-family:"微软雅黑";
}
.top-nav .nav-r li .erweima {
	background: #FFF;
	display: none;
	position: absolute;
	z-index: 9999;
}
.top-nav .nav-r li .erweima p {
	width: 160px;
	height: 215px;
	text-align:center;
}
.top-nav .nav-r li .erweima p img {
	width: 143px;
	height: 136px;
	padding-left: 19px;
	padding-top: 17px;
	box-sizing:border-box;
}


/*中间部分*/
.section1 {
	overflow: hidden;
	width: 1100px;
	height: 460px;
	margin:0 auto 0;
	border-top: 1px solid #9933ff;
	margin-top:41px;
}
.section1 .s1-tip {
	width: 100%;
	height: 42px;
	background: white;
}
.section1 .s1-tip h2 {
	height: 42px;
	line-height: 42px;
	font-family:"微软雅黑";
	font-size:14px;
}

.section1 .sec-l {
	width: 555px;
	height: 460px;
	background: white;
	float: left;
	
}

.section1 .sec-l .sec-l_box1{ width:460px; height:460px; float:left; border: 1px solid #dbdbdb;}
.section1 .sec-l .sec-l_box1 ul {width:460px; height:460px;}
.section1 .sec-l .sec-l_box1 ul li {width:460px;height:460px; display:none;}
.section1 .sec-l .sec-l_box1 ul li.show{ display:block;}
.section1 .sec-l .sec-l_box1 a { width:460px; height:460px;}
.section1 .sec-l .sec-l_box1 a img{ width:460px; height:460px; margin:0 auto; display:block;}
.section1 .sec-l .sec-l_box2 {width:87px; height:460px; float:left;  padding-left:6px;}
.section1 .sec-l .sec-l_box2 ul {width:95px; height:460px;}
.section1 .sec-l .sec-l_box2 ul li { width:84px; height:76px; border:1px solid #dbdbdb;; margin-bottom:8px;}
.section1 .sec-l .sec-l_box2 ul li.current {border: 1px solid #8f42f7;}
.section1 .sec-l .sec-l_box2 ul li img {width:84px; height:73px;}


.section1 .sec-r {
	width: 515px;
	height: 460px;
	float: left;
	padding-left:30px;
}
.section1 .sec-r h1 {padding:5px 0;}
.section1 .sec-r h1 a {
	width: 100%;
	
	color:#2e2e2e;
	font-size:18px;
	
}
.section1 .sec-r .wz1{
	text-decoration: none;
	color: #f00;
	font-size:18px;
	padding-top:20px;
}
.section1 .sec-r span.wz2 {
	color:#414141;
	font-size:14px;
	margin:10px 0;
	display:block;
}
.section1 .sec-r .wz3 { margin-bottom:20px; font-size:14px;}
.section1 .sec-r .wz3 b {
	background-color: #ff2d29;
	color: #fff;
	display: inline-block;
	border-radius: 2px;
	height: 19px;
	line-height: 19px;
	font-size: 14px;
	padding: 0 6px 0 6px;
	margin-right: 12px;
}

.section1 .sec-r p.counter{ cursor:pointer;float: left;width: 84px;text-align: right;display: block;border:1px solid #dbdbdb;height:24px;}
.section1 .sec-r p.counter input { width:28px; height:24px;border: 0 none;float:left;text-align:center;}
.section1 .sec-r p.counter span.minus { line-height:20px;padding:2.5px 10px;float:left;font-size:18px;border-right:1px solid #dbdbdb;}
.section1 .sec-r p.counter span.plus {padding:0.5px 6px;float:right;font-size:18px;border-left:1px solid #dbdbdb;}
/*.section1 .sec-r div button{ width:32px; height:32px; font-size:40px; text-align:center; line-height:32px; color:#888888; float:left}
.section1 .sec-r div input{ width:22px; height:28.5px; float:left; padding-left:7px;/* border:1px solid #aaaaaa;*/ font-size:x-large;}*/
.section1 .sec-r em{ width:35px; height:35px; line-height:35px; color:#999; margin-left:10px; font-size:14px; font-family:"微软雅黑";}
.section1 .sec-r .gouwu { display:block; width:107px; height:30px; background:#8f42f7;  font-size:16px; padding-left:32spx; border-radius:8%; line-height:30px; cursor:pointer;margin-top:20px;}
.section1 .sec-r .gouwu a {color:#fff; letter-spacing:1px; padding-left:10px;}
.section1 .sec-r p.share { float:left; display:block; width:138px; height:30px; margin-top:20px;}
.section1 .sec-r p.share i { font-style:normal; float:left; line-height:30px; font-size:14px;}
.section1 .sec-r p.share a { float:left; margin-left:5px;}
/*section1 end*/

/*中间第二部分内容*/
.section2 {
	width: 1100px;
	height: 100%;
	margin:0 auto 0;
	border-top: 1px solid #9933ff;
	margin-top:25px;
	overflow:hidden;
}
.section2 .s2_left { width:202px; height:1493px; margin-right:30px; float:left;}
.section2 .s2_left .hd{background: #f3f3f3;padding: 0 10px;line-height: 36px;border-bottom: 1px solid #dbdbdb;}
.section2 .s2_left .hd h2 {text-align: center;font-size: 16px;color: #404040;line-height: inherit;}




.section2 .s2_left .s2-content{width:202px;;height:1400px; margin-top:10px; }
.section2 .s2_left .s2-content ul{width:100%;;height:100%; float:left; display:block;}
.section2 .s2_left .s2-content ul li{width:100%;height:20%; border:1px solid #dbdbdb; display:inline-block; box-sizing:border-box;float:left;}
.section2 .s2_left .s2-content ul li img {padding-left:10px;}
.section2 .s2_left .s2-content ul li strong {width:100%; height:41px;display:block; margin: 14px 0;}
.section2 .s2_left .s2-content ul li strong{ font-family:"微软雅黑"; font-size:14px;color: #404040;}
.section2 .s2_left .s2-content ul li strong a {text-decoration:none;}
.section2 .s2_left .s2-content ul li .s2-content-bot { width:100%;height:50px; display:block; margin-top:10px;}
.section2 .s2_left .s2-content ul li .s2-content-bot span.s2-nprice{ width:100%;display: block;float: left;font-size: 14px;color: #f26663;;font-family: "微软雅黑";text-indent:3px;}
.section2 .s2_left .s2-content ul li .s2-content-bot p.s2-sprice { width:100%; text-indent:1em; color: #ff2d3c;font-size: 16px;padding-top: 8px;width: 100%;overflow: hidden;float: left;}
.section2 .s2_left .s2-content ul li .s2-content-bot p.s2-sprice em{ color: #8b8b8b;margin-left: 10px;font-size: 12px;}

.section2 .s2_right {width:868px; height:100%;  overflow:hidden;}
.section2 .s2_right .s2_right_menu {width:100%; height:23px; margin-top:10px;border-bottom: 1px solid #dbdbdb;}
.section2 .s2_right .s2_right_menu ul {width:100%; height:20px;}
.section2 .s2_right .s2_right_menu ul li {float:left; width:156px;}
.section2 .s2_right .s2_right_menu ul li:first-child{ width:104px;border-right: 1px solid #dbdbdb;}
.section2 .s2_right .s2_right_menu ul li:last-child {width:140px; /*margin-left:20px;*/}
.section2 .s2_right .s2_right_menu ul li.current2 {color:#8f42f7; border-bottom: 2px solid #8f42f7;}
.section2 .s2_right .s2_right_menu ul li a { width:115px;display: block;padding: 0 20px; font-size:16px; font-family:"微软雅黑";}
.section2 .s2_right .tabs_container{width:100%;}

.section2 .s2_right .tabs_container .introduce {width:100%; height:100%;padding: 15px 0;line-height: 1.7; border-bottom: 1px solid #dbdbdb;font-size: 13px;}
.section2 .s2_right .tabs_container .introduce em{width: 100%;float: left;color: #404040;height: 14px;margin-bottom: 16px;font-size: 15px;}
.section2 .s2_right .tabs_container .introduce p { float:left;display: inline-block;margin-right: 60px;}
.section2 .s2_right .tabs_container .pic_list { width:100%; height:100%; margin-top:70px;}
/*.section2 .s2_right .pic_list p { width:100%;}*/
.section2 .s2_right .tabs_container .pic_list  img { width:100%; display:block;}






.section2 .s2_right .tabs_container2 { display:none;width:100%; height:auto;}
.section2 .s2_right .tabs_container2 .user_title {width:100%;border-top: 1px solid #e6e6e6; margin-top:15px; color: #434343;}
.section2 .s2_right .tabs_container2 .user_title .user_title_left { width:240px; float:left;}
.section2 .s2_right .tabs_container2 .user_title .user_title_left ._pinglun { font-size:16px; color:#3c3c3c;}
.section2 .s2_right .tabs_container2 .user_title .user_title_left p.satis { font-size:14px; font-family:"微软雅黑"; text-indent:20px; padding-top:20px; height:20px; line-height:20px;}
.section2 .s2_right .tabs_container2 .user_title .user_title_left p span.degr{ font-size:26px;}
.section2 .s2_right .tabs_container2 .user_title .user_title_left p.wuxing { float:left; width:206px; font-size:14px; padding-left:34px; padding-top:12px;}
.section2 .s2_right .tabs_container2 .user_title .user_title_right {width:500px; height:71px; float:left;}
.section2 .s2_right .tabs_container2 .user_title .user_title_right p.parse {width:100%;  margin-left:46px;}
.section2 .s2_right .tabs_container2 .user_title .user_title_right p.parse span {display: inline-block;width: 75px;text-align: center; font-size:14px; font-family:"微软雅黑";}
.section2 .s2_right .tabs_container2 .comment_list { width:848px; height:554px; margin-top:105px;}
.section2 .s2_right .tabs_container2 .comment_list ul {width:848px; height:100%;}
.section2 .s2_right .tabs_container2 .comment_list ul li{ float:left;padding: 24px 10px;border-bottom: 1px solid #dbdbdb;width:848px; height:65px;}
.section2 .s2_right .tabs_container2 .comment_list ul li .guest {float: left;width: 54px;height: 54px;border-radius: 50%; margin-right:10px;}
.section2 .s2_right .tabs_container2 .comment_list ul li .guest-name {font-size:14px; font-family:"微软雅黑";}
.pl_xingxing { float:right;}
.pl_xingxing em { float:left; font-size:14px;}
.pl_xingxing img { width:16px; height:15px; float:left;}
.section2 .s2_right .tabs_container2 .comment_list ul li p { font-size:14px; margin-left:78px; margin-top:10px;}
.section2 .s2_right .tabs_container2 strong { width:100%; height:20px; line-height:20px; text-align:center; font-size:14px; display:block; margin-top:30px;}





/*底部开始*/
.footer{ width:100%;height:281px; background:#1d1136;}
.footer .fmain{width:1100px;height:281px;}
.footer-l{ width:184px; height:auto;display: block;float: left;margin-top: 38px;}
.footer-l span{ display:block;color: #fff;font-size: 20px;line-height: 22px; width:182px;height:25px; float:left;margin-top:32px;margin-bottom:5px;}
.footer-l span img{ float:left;}
.footer-l p{ display:block;color: #fff;font-size: 15px;}
.footer-c{display: block;margin-top: 0px;float: left;margin-left: 35px; width:605px; height:184px; margin-top: 38px;}
.footer-c ul{ width:100%; height:auto;}
.footer-c ul li{ width:121px; height:15px; float:left;} 
.footer-c ul li a {color:#fff;cursor: default;font-size: 14px;cursor:pointer;}
.footer-c ul li .li-list{ width:70px; height:auto; margin-top:12px; display:block;}
.footer-c ul li .li-list p{ display:block; margin-bottom:5px;}
.footer-c ul li .li-list p a {color: #F2F2F2;font-size: 12px; cursor:pointer;}
.footer-c ul li .li-list p a:hover{ color:#8F42F7;}


.footer-r{width: 256px;height:200px;;display: block;float: right;margin-top: 15px;}
.footer-r span.footer-r-t1{ width:100%; height:18px; line-height:18px; text-align:center; color:#fff; display:inline-block; font-size:16px; font-family:"微软雅黑"; margin-top:10px;}
.footer-r span.footer-r-t2{ margin-top:10px;width:100%; height:14px; line-height:14px; text-align:center;display:inline-block;color:#fff; font-size:14px;}
.footer-r .footer-r-weibo{ width:120px; height:120px; display:block; float:left; margin-top:15px;}
.footer-r .footer-r-weixin{ width:120px; height:120px; display:block; float:left; margin-left:15px; margin-top:15px;}
.footer-nav{height: 30px;text-align: center;float:left;margin-top:10px;width:100%;margin-bottom:10px;}
.footer-nav span{line-height:30px;margin-left:20px;color:#999;}
.footer-nav span a {color: #fff;font-size:14px;}






.legal {width: 100%;height: 34px;line-height: 34px;display: block;float: left;font-size: 12px;color: #fff;font-family: "微软雅黑";padding-bottom: 12px;background-color: #1d1136;text-align: center;border-top: 1px solid rgba(153,102,204,0.7);/*#834dda*/;}









